h1{
    text-align: center;
    font-size: 22px;
  }
  a{
    font-style: italic;
  }
  h2{
    text-align: center;
  }
caption{
  text-align: center;
}
table th {
  text-align: center;
  background-color: green;
  color: red;
  font-weight: bold;
}
table tr:nth-child(even) {
  background-color: grey;
}
table *:not(caption){
  border: 2px dashed purple;
  padding: 2px;
  text-align: center;
}
table td:last-child {
  text-align: right;
}

@media (min-width: 993px) {
  th {
    font-size: 1.3em;
  }

  td {
    font-size: 1.2em;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  th {
    font-size: 1.2em;
  }

  td {
    font-size: 1.1em;
  }

}

@media (max-width: 768px) {
  th {
    font-size: 1.1em;
  }
}